_builds/
vendor/
vendor-wordpress/
composer.phar
.DS_Store
vendor-prefixed/
node_modules/
tools/strauss/vendor/
.phpunit.cache/
tools/integration/vendor/
assets/js/*.js
assets/js/*.map
assets/css/*.css
assets/img/icons.svg
_org/
